body{
	background:conic-gradient(grey,black,grey,black,grey,black);
}

fieldset{
	width: 25%;
	margin-top: 1.6%;
	margin-left: 35%;
	font-size: 21px;
	font-family: Gabriola;
	border-radius: 30px;
	background-image: url(field.jpg);
	background-size: cover;
	color: grey;
	position: absolute;
	transition: ease 2s;
	transform: translate(10px);
}

legend{
	height: 100px;
	width: 100px;
	border: solid;
	border-color: inherit;
	border-radius: 80px;
	margin-left: 33%;
	background-image: url(logo.jpg);
	background-size: cover;
}

#fn,#Ln,#El,#Pw{
	height: 38px;
	width: 80%;
	margin-left: 10%;
	color: grey;
	font-size: 28px;
	font-family: Gabriola;
	background-color: transparent;
	border-top-color: transparent;
	outline: 0;
}

.check{
	font-size: 22px;
}


button{
	height: 38px;
	width: 50%;
	margin-left: 23%;
	font-family: Gabriola;
	font-size: 25px;
	transition: ease 0.5s;
}
button:hover{
	background-color: grey;
}
span{
	margin-left: 15%;
}

#login{
	display: none;
}
.log{
	margin-top: 1.6%;
}

lin{
	color: grey;
	width: 99%;
	text-align: center;
	position: absolute;
	margin-top: 630px;
}



